html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 22px;
	margin: 10px 0;
}

h2 {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding-top: 3px;
}

a {
	display: block;
	float: left;
	background-color: #c0392b;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 5px;
	margin: 3px;
}

a:hover {
	background-color: #e74c3c;
}

#page-container {
	width: 910px;
	margin: 0 auto;
	overflow: hidden;
}

.drawing {
	margin-bottom: 10px;
	border: 5px solid #000;
}